VITE_APP_CODE: SDKeysWork

# Development Env Variables
VITE_ACCESS_KEY:
VITE_APP_URL: 
VITE_APP_REAL_URL: 
VITE_REST_PATH: rest
VITE_USER_UUID: superUser$system
VITE_USER_ADMIN: true
VITE_USER_LICENSED: true
VITE_SUBJECT_UUID: root$101
VITE_USER_LOGIN: system