h4.ant-typography {
    margin-top: 0 !important;
    font-size: 17px !important;
    margin-bottom: 5px !important;
    line-height: 20px !important; 
}
.ant-form-item {
    margin-bottom: 0 !important;
}
.ant-form-item-label {
    padding: 0 !important;
}
.ant-form-item-label > label {
    font-size: 13px !important;
    color: #5f5f5f !important;
}
.ant-alert {
    padding: 5px 12px !important;
    border-radius: 2px !important;
    color: #323232 !important;
    font-size: 12px !important;
    border: none;
    margin-bottom: 5px;
    background-color: #f4f4f4;
    line-height: 18px;
    padding: 8px 8px 8px 12px !important;
}
.ant-alert-error {
    background-color: #faeceb !important;
    border-left: 4px solid #e08a85 !important;
}
.ant-alert-success {
    border-left: 4px solid #4985df !important;
}
.ant-form-item-explain-error {
    font-size: 11px;
    margin-top: -2px;
}
.ant-btn-primary {
    box-shadow: none !important;
}
.ant-btn-primary.cardButton {
    background: #f4f4f4 !important;
    color: #5f5f5f !important;
    fill: #5f5f5f !important;
    padding: 0px 12px !important;
    height: 24px !important;
    border-radius: 1px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
.ant-btn-primary.cardButton:hover {
    background-color: #e4e4e4 !important;
}
.ant-btn-primary.cardButton:active {
    background-color: #bbb !important;
}
.ant-btn-primary.cardButton > svg {
    width: 20px !important;
    height: 12px !important;
    overflow: unset !important;
}
.ant-collapse-item > .ant-collapse-header {
    padding: 12px 0px !important;
}
.ant-collapse-item > .ant-collapse-header > .ant-collapse-header-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}
.ant-collapse-item > .ant-collapse-header > .ant-collapse-expand-icon {
    padding-inline-end: 8px !important;
    padding-inline-start: 0px !important;
}
.ant-collapse-item > div > .ant-collapse-content-box {
    padding: 0px !important;
    /* margin-top: -15px; */
}
.ant-tabs > .ant-tabs-nav {
    margin: 0 !important;
}
.ant-tabs > .ant-tabs-content-holder {
    padding: 15px !important;
    background-color: white !important;
}
.ant-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap {
    background-color: #eff3f8 !important;
}
.ant-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {
    padding: 8px 12px !important;
    white-space: nowrap !important;
    border: none !important;
    background: transparent !important;
}
.ant-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab.ant-tabs-tab-active {
    background: white !important;
    box-shadow: 0 4px 6px rgba(129, 146, 161, 0.2) !important;
}
.ant-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab > .ant-tabs-tab-btn {
    font-size: 13px !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1 !important;
    color: #323232 !important;
}
.ant-modal > div > .ant-modal-content {
    padding: 0 !important;
}
.ant-modal > div > .ant-modal-content > .ant-modal-header {
    background: #154ea5;
    padding: 20px;
}
.ant-modal > div > .ant-modal-content > .ant-modal-header > .ant-modal-title {
    color: white !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}
.ant-modal > div > .ant-modal-content > button > span > span.anticon > svg {
    fill: white !important;
}
.ant-modal > div > .ant-modal-content > .ant-modal-body {
    padding: 0 20px 8px;
}
.ant-modal > div > .ant-modal-content > .ant-modal-footer {
    text-align: start !important;
    padding: 16px 24px;
    background: #f2f2f2;
}
.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr > th,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr > th {
    font-size: 13px;
    line-height: 15px;
    color: #5f5f5f;
    letter-spacing: 0.03em;
    text-align: left;
    font-weight: normal;
    background-color: transparent !important;
    border-bottom: none !important;
}
.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr > th::before,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr > th::before {
    height: 100% !important;
    display: none !important;
}
.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr:hover > th::before,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr:hover > th::before {
    display: block !important;
}
.ant-table > .ant-table-container > .ant-table-content > table > thead.ant-table-thead > tr:hover > th,
.ant-table > .ant-table-container > .ant-table-header > table > thead.ant-table-thead > tr:hover > th {
    cursor: pointer !important;
}
.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr > td {
    border-top: 1px solid #d9d9d9 !important;
}
.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr:nth-of-type(1) > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr:nth-of-type(1) > td {
    border-top: none !important;
}
.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr:hover > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr:hover > td {
    background: #ebebeb !important;
}
.ant-table > .ant-table-container > .ant-table-content > table > tbody.ant-table-tbody > tr.ant-table-row-selected > td,
.ant-table > .ant-table-container > .ant-table-body > table > tbody.ant-table-tbody > tr.ant-table-row-selected > td {
    background: #f4f4f4 !important;
}
.ant-table-selection-column {
    text-align: center !important;
}
ul.ant-pagination.ant-table-pagination {
    justify-content: flex-start !important;
}
ul.ant-pagination.ant-table-pagination > li.ant-pagination-item {
    font-weight: 600 !important;
    font-style: normal !important;
    padding: 0 !important;
    text-align: center !important;
    border-radius: 2px;
    font-size: 13px;
    height: 30px !important;
    width: 30px !important;
}
ul.ant-pagination.ant-table-pagination > li.ant-pagination-item.ant-pagination-item-active {
    border-color: #323232 !important;
}
ul.ant-pagination.ant-table-pagination > li.ant-pagination-item.ant-pagination-item-active > a {
    border-color: #323232 !important;
    color: #323232 !important;
}
ul.ant-pagination.ant-table-pagination > li.ant-pagination-item  > a {
    margin: 0 !important;
    padding: 0 !important;
    color: #085896 !important;
}
ul.ant-pagination.ant-table-pagination > li.ant-pagination-next > button > span > svg,
ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev > button > span > svg {
    fill: #085896 !important;
}
ul.ant-pagination.ant-table-pagination > li.ant-pagination-next.ant-pagination-disabled > button > span > svg,
ul.ant-pagination.ant-table-pagination > li.ant-pagination-prev.ant-pagination-disabled > button > span > svg {
    fill: #085896 !important;
    opacity: .5 !important;
}
pre .string { color: green; }
pre .number { color: darkorange; }
pre .boolean { color: blue; }
pre .null { color: magenta; }
pre .key { color: red; }