.developmentModal {
    border-radius: 2px !important;
    z-index: 999;
    position: fixed;
    width: 20%;
    bottom: 20px;
    left: 20px;;
}
.developmentModal .ant-collapse-header {
    padding: 10px 10px !important;
    fill: #fff !important;
    color: #fff !important;
    background: #154ea5;
    border-radius: 2px 2px 0 0 !important;
}

.developmentModal .ant-collapse-item-active {
    background-color: #fff;
}

.developmentModal .ant-collapse-header-text {
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.developmentModal .ant-collapse-content {
    padding: 10px 20px;
}