* {
    user-select: none;
    -webkit-user-select: none;
}
body {
    margin: 0 !important;
    min-height: 700px !important;
}
.ant-modal-root .ant-modal-mask {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(2px);
}
.site-collapse-custom-collapse .ant-collapse-header {
    padding: 10px 10px !important;
    fill: #fff !important;
    color: #fff !important;
    background: #154ea5;
    border-radius: 2px 2px 0 0 !important;
}

.site-collapse-custom-collapse {
    border-radius: 2px !important;
}

.site-collapse-custom-collapse .ant-collapse-item-active {
    background-color: #fff;
}

.site-collapse-custom-collapse .ant-collapse-header-text {
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.site-collapse-custom-collapse .ant-collapse-content {
    padding: 10px 20px;
}

.ant-notification-notice-message {
    margin-bottom: 0 !important;
    font-weight: 700;
}

.key-skeleton,
.key-skeleton>.ant-skeleton-button {
    width: 290px !important;
}

a, .icon-link {
    color: rgb(8, 88, 150) !important;
    fill: rgb(8, 88, 150) !important;
}

a:hover {
    text-decoration: underline !important;
}

.icon svg {
    margin-top: 2px !important;
}