.site-collapse-custom-collapse .ant-collapse-header {
    padding: 10px 10px !important;
    fill: #fff !important;
    color: #fff !important;
    background: #154ea5;
    border-radius: 2px 2px 0 0  !important;
}
.site-collapse-custom-collapse {
    border-radius: 2px !important;
}
.site-collapse-custom-collapse .ant-collapse-item-active {
    background-color: #fff;
}
.site-collapse-custom-collapse .ant-collapse-header-text {
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.site-collapse-custom-collapse .ant-collapse-content {
    padding: 10px 20px;
}
.ant-notification-notice-message {
    margin-bottom: 0 !important;
    font-weight: 700;
}
.key-skeleton, .key-skeleton > .ant-skeleton-button {
  width: 290px !important;
}